
<div class="small ui form">
    <%= form_for [@location, @comment] do |f| %>
      New Comment: <br>
      <%= f.hidden_field :location_id, value: @location.id %>
      <%= f.text_field :content %>
      <br><br>
      <%= f.submit "Post Comment" %>
    <% end %>

</div>
