<div class="ui small form">



    <h5>Experience form</h5>
    <%= form_tag experience_path(@experience), method: "put" do %>

    <label>Experience </label>
      <%= text_area_tag :'experience[name]', @experience.story %><br>
      <br><br>
      <%= submit_tag "Update experience" %>
    <% end %>

</div>
