<div class="experiences">
  <br><br>

  <p class="all_experiences"><strong> All Experiences </strong></p>

      <% Experience.all.each do |experience| %>
        <p><%= link_to experience.story, experience_path(experience)%> </p>
      <% end %>

</div>
