<div class="experience_story" >
      <h4><%= @experience.story %></h4>

      <br>
      <br>
      <br><h5>Location:</h5>
      <p><%= link_to @experience.location.name, location_path(@experience.location) %><p>
          <p><%= @experience.location.name %></p>
          <p><%= @experience.location.city %></p>

</div>
