
<div class="home">
<%= link_to "Share New Experience |", new_experience_path %>
<%= link_to "Share New Location |", new_location_path %>
<%= link_to "View Locations |", locations_path %>
<%= link_to "View Experiences", experiences_path %>

</div>
