
<div class="home">

  <%= link_to "Share New Experience |", new_experience_path, :id => "new_experience" %></a>
  <%= link_to "Share New Location |", new_location_path, :id => "new_location" %></a>
  <%= link_to "View Locations |", locations_path, :id => "view_locations" %></a>
  <%= link_to "View Experiences", experiences_path, :id => "view_experiences" %></a>

  <div id="google" style='width: 800px;'>
    <br>
    <br>
    <br>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

</div>
