

<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/stylesheets/style1.css" rel="stylesheets">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>


<body>
  <div class="ui secondary pointing menu">
    <a class="active item" href="/">
      The Collective
    </a>

    <a class="item" href="/locations">
      Locations
    </a>
    <a class="item" href="/experiences">
      Experiences
    </a>

    <div class="right menu">
      <a class="ui item" href="<%= destroy_user_session_url %>">
        Logout
      </a>
    </div>
  </div>


    <%= yield %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


  </body>
</html>
